<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
  <a class="navbar-brand" >Welcome To SP Movie!</a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movie">Movies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/enquiry">Enquiry</a>
      </li>
    </ul>    
  </div>
</nav>

