<h2>Ask me anything!</h2>
<br >
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Subject:</label>
          <input type="text" id="username" class="form-control"
          [formControlName]="'username'">  
          <span class="help-block" *ngIf="!enquiryForm.get('username').valid && enquiryForm.get('username').touched">

            <span *ngIf="enquiryForm.get('username').errors.required">
              This field is required!
            </span>

            <span *ngIf="enquiryForm.get('username').errors.blankSpaces">
              Empty spaces are not accepted.
            </span>

            <span *ngIf="enquiryForm.get('username').errors.minlength">
              Minimum 5 Characters</span>
        </span>                   
        </div>
        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="email" id="useremail" class="form-control"
          [formControlName]="'useremail'">  
          <span
          *ngIf="!enquiryForm.get('useremail').valid && enquiryForm.get('useremail').touched"
          class="help-block">
          <span *ngIf="enquiryForm.get('useremail').errors['required']">This field is required!</span>
          <span *ngIf="!enquiryForm.get('useremail').errors['required'] && enquiryForm.get('useremail').errors['email']">Invalid email!</span>
          <span *ngIf="enquiryForm.get('useremail').errors['emailBlackListed']">This email is Forbidden.</span>
      </span>         
        </div>
        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea type="text" id="usermessage" rows="5" class="form-control"
          [formControlName]="'usermessage'"></textarea> 
          <span
          *ngIf="!enquiryForm.get('usermessage').valid && enquiryForm.get('usermessage').touched"
          class="help-block">
          <span *ngIf="enquiryForm.get('usermessage').errors['required']">This field is required!</span>
      </span>           
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>    
    </div>
  </div>  
</div>

