<br/>
<h4>Movies</h4>
<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Movie ID</th>
            <th>Movie Title</th>
            <th>Movie Genre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of myMovies; let i = index" 
          [appHoverHighlight]="{background:'transparent', text:'orange'}">
            <th scope="row">{{ (i + 1) }}</th>
            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

