<h4>Add a New Movie</h4>
<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 form-control-label">Movie Title</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputTitle" #inputTitle>
          {{ inputTitle }} 
        </div>
      </div>
      <div class="form-group row">
        <label for="inputGenre" class="col-sm-3 form-control-label">Movie Genre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputGenre" #inputGenre>
          {{ inputGenre }} 
        </div>
      </div>
      <button type="Add" class="btn btn-success"
      (click)="onAddMovie(inputTitle, inputGenre)">Add Movie</button> 
    </div>
  </div>
</div>

