<h4>
    Welcome to SP Movie! We showcase movies that are currently showing in theatres.
  </h4>
  <br/>
<img 
src="https://static.pexels.com/photos/207896/pexels-photo-207896.jpeg" 
alt=""
style="max-width: 50%">

